<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="tr.com.cureshot.app.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2019-03/"/>
			<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.11.0.v20190215-0401"/>
			<unit id="org.eclipse.epp.mpc.feature.group" version="1.7.5.v20190313-2005"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.17.0.v20190305-2225"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.17.0.v20190307-0500"/>
			<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.11.0.v201808161734"/>
			<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.9.300.v201903042334"/>
			<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.12.0.v201903042334"/>
			<unit id="org.eclipse.jst.ws.axis2tools.feature.feature.group" version="1.1.400.v201903050508"/>
			<unit id="org.eclipse.launchbar.feature.group" version="2.2.3.201902041137"/>
			<unit id="org.eclipse.libra.facet.feature.feature.group" version="0.3.1.201609011955"/>
			<unit id="org.eclipse.libra.framework.editor.feature.feature.group" version="0.3.1.201609011955"/>
			<unit id="org.eclipse.libra.framework.feature.feature.group" version="0.3.1.201609011955"/>
			<unit id="org.eclipse.linuxtools.javadocs.feature.feature.group" version="7.2.0.201903121920"/>
			<unit id="org.eclipse.objectteams.otdt.feature.group" version="2.7.3.201903120955"/>
			<unit id="org.eclipse.objectteams.otequinox.feature.group" version="2.7.3.201903120955"/>
			<unit id="org.eclipse.pde.feature.group" version="3.13.400.v20190307-0943"/>
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.ide.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.wildwebdeveloper.feature.feature.group" version="0.2.0.201903111934"/>
			<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.7.2.v201808020026"/>
			<unit id="org.eclipse.wst.jsdt.chromium.debug.feature.feature.group" version="0.6.100.v201902140014"/>
			<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="2.1.1.v201902140014"/>
			<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.13.0.v201903050402"/>
		</location>
	</locations>
</target>