<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="application" point="org.eclipse.core.runtime.applications">
	<application thread="any" cardinality="*" visible="true" >
		<run class="tr.com.cs.main.app.MainService" />
		
	</application>
	
</extension>
<extension id="product" point="org.eclipse.core.runtime.products">
	<product application="tr.com.cs.application" name="tr.com.cs.product" >
		<property name="appName" value="tr.com.cs.product" />
		
	</product>
	
</extension>
</plugin>
